/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
#topbanner ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 10px;
  width: 600px;
}

#topbanner li {
  display: inline;
}

#topbanner p {
  float: left;
  font-size: 16px;
  color: #fff;
  margin: 0px 15px;
  line-height: 40px;
}

#topbanner a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 40px;
}

.start {
  padding: 20px;
  margin: 20px;
  height: 320px;
  color: #444;
}

.start .logo {
  font-size: 84px;
  font-family: 'Asap', sans-serif;
  text-shadow: 1px 1px #fff;
  width: 50%;
  float: left;
}

.start .text {
  font-size: 16px;
  text-shadow: 1px 1px #eef;
  width: 50%;
}

.start .bottle {
  float: right;
  margin: 0px 60px 100px 0px;
}
