<div class="start">
  <%= image_tag "bottle.png", class: 'bottle'%>
  <p class="logo">
    Milk<b>man</b>
  </p>
  <p class="text">
    Välkommen till Milkman, ett verktyg för hantering av leverantörer. 
    Applikationen är utvecklad som ett arbetsprov till Standout AB, utfört
    av Erik Lindqvist.
  </p>
</div>
